.weatherContainer {
    width: 100%;
    min-height: 100vh;
    background: rgb(249, 157, 149);
    background: -moz-linear-gradient(
      90deg,
      rgba(249, 157, 149, 1) 20%,
      rgba(218, 107, 115, 1) 50%,
      rgba(207, 99, 103, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(249, 157, 149, 1) 20%,
      rgba(218, 107, 115, 1) 50%,
      rgba(207, 99, 103, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(249, 157, 149, 1) 20%,
      rgba(218, 107, 115, 1) 50%,
      rgba(207, 99, 103, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f99d95",endColorstr="#cf6367",GradientType=1);
  }
  
  .weatherContainer .cityName {
    display: none;
  }

.WeatherBody {
    margin: 0 15px;
    padding: 10px 50px;
    transition: 0.3s all ease;
    box-shadow: 0 1px 4px rgba(0,0,0, 0.3), 
     0 0 40px rgba(128,128,128, 0.1) inset;
}

.WeatherBody:hover {
    cursor: pointer; 
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5)
}

@media (min-width: 1399px) {
    .weatherContainer {
      width: 70%;
      min-height: 100vh;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  
    .weatherContainer .cityName {
      display: block;
      position: absolute;
      top: 100px;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #fff;
      font-size: 30px;
    }
  }
